.header-container .top-header .left-sec svg {
  color: #3498db;
  font-size: 20px;
}
.header-container .top-header .right-sec button {
  color: #726d6d;
  text-transform: lowercase;
  font-size: 14px;
}

.middle-container .search-bar svg {
  font-size: 2rem;
}
.middle-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100px;
  height: 80px; */
  padding: 12px;
  background: #f1f3f7;
}
.middle-container .box:hover {
  background: #ffc62a;
}
.middle-container .box svg {
  font-size: 2rem;
  color: #6e7074;
}

/* ===================== css for navbar ========================== */
.nav-container.fixed {
  position: fixed;
  top: 0;
  z-index: 11;
  /* background: #c21d1d; */
  width: 100%;
}
.nav-container .links span {
  color: #888080;
}
.nav-container .links button {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border-bottom: 2px solid #454b54;
  padding: 0.7rem 1.7rem;
}
.nav-container .links button:hover {
  color: #ffc62a;
  background: #3e434b;
  border-bottom: 2px solid #ffc62a;
}
.nav-container .links button svg {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
}

.department-dropdown {
  width: 100%;
  height: auto;
  background: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  visibility: collapse;
  opacity: 0;
}
.department:hover .department-dropdown,
.doorseal:hover .department-dropdown {
  opacity: 1;
  visibility: inherit;
}
.department-dropdown ul li {
  padding-bottom: 1rem;
  font-size: 14px;
}
/* ================css for shipping message ===================== */
.shipping-message .content .truck {
  color: #faaf00;
  font-size: 1.3rem;
}

.shipping-message .content .rating {
  color: #faaf00;
  font-size: 1rem;
}
/* .shipping-message .content span {
  color: #2781b8;
  font-size: 14px;
} */
/* -----------------------code for header responsive------------------------------ */
.middle-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 1080px) {
  .top-header-container {
    display: none;
  }
  .middle-container .search-bar {
    display: none;
  }
  .middle-container .logo img {
    width: 10rem;
  }
  .middle-container .box h2 {
    display: none;
  }
}
@media (max-width: 990px) {
  .middle-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-container {
    position: relative;
  }
  .nav-container .links {
    position: absolute;
    top: 100%;
    left: -100%;
    background: #ffffff;
    color: #000000;
    z-index: 1111;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15rem;
    transition: 0.5s ease;
  }
  .nav-container .links.active {
    left: 0;
  }
  .nav-container .links span {
    display: none;
  }
  .nav-container .links button {
    color: #000000;
    /* width: 100%; */
    border: none;
  }
  .middle-container .row .col-2 {
    max-width: 30%;
    flex: 0 0 20%;
  }
  .middle-container .row .col-6 {
    max-width: 30%;
    flex: 0 0 20%;
  }
  .middle-container .row .col-4 {
    max-width: 30%;
    flex: 0 0 20%;
  }
}
