@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Open Sans";
}
body {
  position: relative;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
.container-fluid {
  padding-left: 10%;
  padding-right: 10%;
}
.container-fluid2 {
  padding-left: 5%;
  padding-right: 5%;
}
.hd {
  font-size: 28px;
  font-weight: 900;
  color: rgb(39, 129, 184);
  /* border-bottom: 4px solid rgb(39, 129, 184); */
  padding-bottom: 1rem;
}
img {
  /* max-width: max-content; */
}

@media (max-width: 998px) {
  .container-fluid {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
